# Application
/public/bundles
/public/admin
/var
/tests/app/cache
/tests/var

# DotEnv
.env

# IntelliJ
*.iml
.idea

# Composer
/vendor
composer.lock

# Npm
node_modules
package-lock.json

# PHP-CS-Fixer
.php_cs.cache
