includes:
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    #- vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - %currentWorkingDirectory%/src/*/*/Tests/app/*.php
        - %currentWorkingDirectory%/src/*/*/vendor/*.php
        - %currentWorkingDirectory%/*/var/*.php
    ignoreErrors:
        - '#Sulu\\Component\\Content\\ContentTypeManagerInterface#'
        - '#Sulu\\Component\\Content\\Compat\\StructureManagerInterface#'
        - '#reveal#'
        - '#shouldBeCalled#'
        - '#ObjectProphecy#'
        - '#willReturn#'
        - '#\(void\) is used#'
        - '#shouldNotBeCalled#'
        - '#Anonymous function has an unused use#'

