version: 2

jobs:
    build:
        docker:
              - image: circleci/php:7.1-node-browsers

        working_directory: ~/repo

        steps:
          - checkout

          - run: echo -e "memory_limit=2G" | sudo tee /usr/local/etc/php/php.ini > /dev/null

          - run:
                name: Install OS dependencies (mysql, gd)
                command: |
                      sudo apt-get install -y libpng-dev
                      sudo docker-php-ext-install pdo_mysql gd
                parallel: true

          - restore_cache:
                keys:
                  - v1-dependencies-{{ checksum "composer.json" }}
                  - v1-dependencies-

          - run: composer install -n --prefer-dist

          - save_cache:
                paths:
                    - ~/.composer
                key: v1-dependencies-{{ checksum "composer.json" }}

          - run: composer initialize

          - run: composer test

          - run: composer lint
